<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681809782537-o1mqvolbblpcov6m0fq7fep9nni2coo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681809782537-o1mqvolbblpcov6m0fq7fep9nni2coo9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>681809782537-m3hb6om6hcsvjs751b2ti2fan1drcbeb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCE2nIKOqMfXe6uFMEYCJa7naAVtS46Fok</string>
	<key>GCM_SENDER_ID</key>
	<string>681809782537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-1d237</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-1d237.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681809782537:ios:9ce15bce930a999ea4d5d8</string>
</dict>
</plist>